<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courier</title>
  <link rel="stylesheet" href="css/home.css">
</head>
<body>


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Homepage design</title>
</head>

<body>
<div class="banner-area">
  <header>
    <div class="menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/mail">Register</a></li>
        <li><a href="/personal">Display</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

  </header>
  <div class="banner-text">
    <Strong><h1>Top Courier </h1></Strong>
    <p>A Courier works for a delivery or logistics company. Courier responsibilities include performing the courier service and ensuring timely delivery of packages, following safety rules, and keeping accurate records.</p>
    <a href="#">Read More</a>
    <a href="#">Watch More</a>
  </div>


</div>
</body>


</body>
</html>